.card-wrapper{
    position:relative;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  margin-top: 30px;
  
 
  }
  .card-layout{
      /* box-shadow:red; */
      width: "50rem";
       background-color: rgb(252, 255, 220) 
  }
  .card-image{
      height:250px;
      width:250px;
      border-radius:125px;
      position: relative;
      align-self: center;
      margin-top:10px;
  }
  .card-body{
      text-align:center;
  }
